body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  h1 {
    color: #333;
  }
  p {
    color: #555;
    font-size: 18px;
  }
  .logo {
    margin-top: 20px;
  }
  .button {
    display: block;
    margin-top: 20px;
  }
  .button a {
    display: inline-block;
    background-color: rgb(9, 68, 38);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
  }
